{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- My Css page -->
    <link rel="stylesheet" href="{% static 'Records/style.css' %}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <title>Archives</title>
</head>
<body>
    <div class="background2"><h1 id="title"><span>Case 002: Gorgon</span><br><span>STATUS:FOUND</h1></span></div>

    
    <div class="row">
        <div class="column col-sm-1">

        </div>
        <div class="column col-sm-10 main">
            <h2>
                RECORD: <br><br>
            </h2>

            <u style="color:black font"><div>Description:</div></u>
            &emsp;The Gorgons are often described as winged female creatures. They had snakes for hair surrounding their rounded faces, flat noses with flared nostrils, lolling tongues, long tusk-like teeth, small beards, and big round eyes. The most popular Gorgon was Medusa, a very prevalent character in popular culture. She can turn people to stone when gazing upon her due to her hideous looks and curse (Britannica). She was one of three sisters hailing from Greek Mythology. 
            <br>
            &emsp;The reason Medusa was slain long ago was that she was mortal. Unlike her two other sisters Stheno and Euryale who are immortal (Gordon). Dealing with them would be much more difficult, but sightings are exceedingly rare. The Gorgon is known to inhabit the edges of the world and the underworld. Gorgon sightings are often misclassifications of other creatures such as the Naga from Hindu mythology. 
            <br><br>

            <u style="color:black font"><div>Origins and Variations:</div></u>
            &emsp;The Gorgons are very difficult to pin down. As these stories have evolved over time, renditions of these creatures have changed greatly. 
            <br>
            &emsp;The Gorgon was first mentioned in Homer's Poems the Iliad and the Odyssey around the late 8th to early 7th century BCE. However, Homer's Iliad and Odyssey only mentioned a singular Gorgon. Due to this it is believed in official Greek mythology only a singular Gorgon was recognized. Gorgons were common to paint in homes to ward off evil spirits thanks to their horrid appearance. Eventually, Hesiod's Theogony was written describing the three sisters. Created in 730-700 BCE, this is now the standard for Greek Mythology and Popular Culture (Gordon). 
            <br>
            &emsp;Moreover, there are similar renditions of creatures in other mythologies and religions such as Naga from the Hindu religion. She is a half snake half human woman. Today, a combination of Gorgon and Naga is common to see in modern depiction of Medusa. Removing the Gorgons wings and facial characteristics while giving her the lower body of the Naga is common. For example, the 2010 film Clash of The Titans (Robinson). 
            <br>
            &emsp;Additionally, the parents of the Gorgons are exceedingly difficult to determine because of how many renditions of their stories exist. The most popular depiction makes them the children of the primordial sea god and Ceto, a sea goddess. They had many monstrous children, three of which could be the three known Gorgons (The Collector). 
            <br><br>

            <u style="color:black font"><div>Function:</div></u>
            &emsp;The stories of the Gorgons are rare, but Medusa's tale, as many myths, serves as a lesson. 
            <br>
            &emsp;The story behind why she was cursed is an immensely popular myth. There are two popular variations on why she was cursed with snakes for hair. One of which details her boastfulness and overconfidence in the way she looked. This led to her being cursed by the goddess Athena. This teaches us to not show off good looks excessively. 
            <br>
            &emsp;Additionally, the second variation involves a love-affair with Poseidon, leading to Athena cursing her. The lesson behind this is much more difficult to discern and is up to interpretation. This variation describes how Medusa was a dedicated servant to Athena and was simply the victim. To protect Medusa, Athena gave her a horrid appearance and her ability to turn things to stone. The lesson here is a warning about how cruel the world can be to beautiful women (GreekMythology.com). 
            <br><br>

            <u style="color:black font"><div>References/Appearances:</div></u>
            The Gorgons are very popular in the world today. Medusa and the Gorgons in general have appearances across popular culture including film, television series, video games, role-playing games and more. This includes:
            <br>
            &emsp;-(1981) film <em>Clash of the Titans</em>  
            <br>
            &emsp;-(2010) remake of <em>Clash of the Titans</em> 
            <br>
            &emsp;-(2013–2015) BBC One series <em>Atlantis</em>  
            <br>
            &emsp;-(2005) Rick Riordan’s Book, <em>Percy Jackson the Lightning Thief</em> 
            <br>
            &emsp;-(2010) film adaptation of Rick Riordan’s <em>Percy Jackson the Lightning Thief</em>
            <br>
            &emsp;-(1974) <em>Dungeons and Dragons</em> Game 
            <br>
            &emsp;-(2005) <em>God of War</em> Video Game 
            <br>
            &emsp;-(1987) <em>Final Fantasy</em> Video Game 
            <br><br>

            <u style="color:black font"><div>Most Accurate Image:</div></u>
            The most accurate depiction of a Gorgon is this vase drawn in 490 BC in Ancient Greece. Property today of the <em>British Museum</em>. Photo above is also property of the <em>Staatliche Antikensammlungen</em> Museum.
            <br><br>
            <img src="{% static 'Records/img/Gorgon_vase.png' %}">
            <br><br>

            <u style="color:black font"><div>Ressources:</div></u>
            &emsp;-Editors of Encyclopedia Britannica. "Oedipus." Encyclopædia Britannica, Encyclopædia Britannica, Inc., 30 Nov. 2022, https://www.britannica.com/topic/Oedipus-Greek-mythology. 
            <br>
            &emsp;-Gordon, Avery. “What Is a Gorgon in Greek Mythology?” Study.com | Take Online Courses. Earn College Credit. Research Schools, Degrees &amp; Careers, 8 Dec. 2021, https://study.com/learn/lesson/greek-mythology-gorgon.html. 
            <br>
            &emsp;-Robinson, Keith. “Naga Mythology... and Medusa.” Atom, Unearthly Tales, 23 Apr. 2010, https://w ww.unearthlytales.com/naga-mythology-and-medusa.html.  
            <br>
            &emsp;-The Collector. “Who Were the Gorgons in Ancient Greek Mythology? (6 Facts).” The Collector, 18 Feb. 2023, https://www.thecollector.com/who-were-the-gorgons-in-greek-mythology/.  
            <br>
            &emsp;-GreekMythology.com, The Editors of Website. "Medusa". GreekMythology.com Website, 09 Jul. 2021, https://www.greekmythology.com/Myths/Creatures/Medusa/medusa.html.  
            <br>
            &emsp;-Kapach, Avi. “Creature Medusa.” Mythopedia, 29 Nov. 2022, https://mythopedia.com/topics/medusa.  


        </div>
        <div class="column col-sm-1">

        </div>
    </div>
        

    <div style="font-size: 3vw; padding:50px 50px 100px"><a style="padding: 20px; border-color:rgb(99, 99, 99); border-style:solid; padding-top: 0px;" href="../">RETURN</a></div>
</body>