{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- My Css page -->
    <link rel="stylesheet" href="{% static 'Records/style.css' %}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <title>Archives</title>
</head>
<body>
    <div class="background"><h1 id="title"><span>Case 001: WENDIGO</span><br><span>STATUS:FOUND</h1></span></div>

    <div class="row">
        <div class="column col-sm-1">

        </div>
        <div class="column col-sm-10 main">
            <h2>
                RECORD: <br><br>
            </h2>

            <u style="color:black font"><div>Description:</div></u>
            &emsp;The Wendigo's appearance has many different depictions, but knowing their nature, it is easy to imagine what the different variations are trying to describe. The Wendigo are entities to represent starvation strong enough to overpower one's humanity. 
            <br>
            &emsp;The Wendigo are described as tall, pale blue, and frozen. Their skin is wrapped very tightly around their bones, and they have an extreme hunger. These qualities represent starvation. When Native Americans went hungry during winter; common symptoms are turning blue and low body temperature. Additionally, their eyes are said to glow. This could describe how their human perspective has changed as their hunger possesses them. Moreover, the Wendigo have superhuman strength, and speed as well as long claws and horns used for hunting purposes. This strength and qualities represent how when a human is pushed to the edge, they can muster far more strength than they should be able to (Pitt). 
            <br>
            &emsp;Following this, the Wendigo don't always appear as these horrifying monsters. Many records of Wendigo describe their ability to appear as the humans they once were, when satiated. However, this will not last forever because the hunger will come back eventually. Despite these dangerous qualities, the Wendigo can be killed. The key is to burn their frozen heart which can survive extreme heats. Only once this is done will they no longer be able to recover (Mythology Matters). 
            <br><br>

            <u style="color:black font"><div>Origins and Function:</div></u>
            &emsp;The folklore came from Algonquian Native Americans. This included Abenaki, Siksika, Mi'kmaq, Algonquin, Ojibwe, and Innu people. The Wendigo existed in oral tales for hundreds of years (Pitt). However, the Wendigo had become popular as the Algonquian Native Americans were forced off their land by colonizers. As such, the Wendigo are believed to represent two parts of this situation.  
            <br>
            &emsp;On one hand, the Wendigo represents the condition of the Natives when they starved. This happened because they were forced off their land where they knew how to hunt. Consequently, they were taken over with hunger and viewed other people as prey. Also, they served as a reminder to the natives to not consume too much. Wendigos can never satiate their hunger because they are greedy. Hence, greed and hunger transform humans into them. This was also important because the Natives often had to ration food as they were pushed into areas with much less resources. 
            <br>
            &emsp;The second side is where the colonizer influence fits into this. The Wendigo tale was discovered by colonizers, and it is believed they propagated the idea of Wendigo psychosis to dehumanize the natives. Wendigo psychosis had become an extremely popular psychological theory at the time which was unfairly used against many native people. Thanks to advances in science and psychology, this has been debunked countless times as a medical condition (Mythology Matters). 
            <br><br>

            <u style="color:black font"><div>Variations in Folklore:</div></u>
            &emsp;The Wendigo as an idea is strong, but the specifics change very often. Firstly, the spelling of the name Wendigo varies including Wendigo and Wendigo (Anglis). The creation of Wendigo varies as well. This can happen due to the corruption of greed and hunger in a person's spirit. Or, when a person is possessed by an evil spirit during a moment of weakness brought upon by a weak mental state which could have been caused by starvation. Furthermore, a variation in appearance exists where some believe they have long ears. Also, instead of being starved, some believed they are well fed monsters, although this depiction is far less common. Next, many people described their skin as grey and ashy (Anglis). Additionally, the method to kill a Wendigo is inconsistent. Some say, stabbing the Wendigo like prey works, many believed melting their heart is necessary, while others say shaman, within tribes, know a spell to kill the Wendigo (Mythology Matters). 
            <br><br>

            <u style="color:black font"><div>Appearances and Documentation of the Wendigo:</div></u>
            Many works of art have helped shape our view of Wendigo overtime:
            <br>
            &emsp;-(1910) Algernon Blackwood's novella <em>The Wendigo</em> describes a group of Canadian hunters running into the Wendigo in the wilderness. 
            <br>
            &emsp;-Wendigos have also appeared in Marvel Comic Books. 
            <br>
            &emsp;-Wendigos have appearances in video games such as fallout 76. 
            <br>
            &emsp;-In today's popular culture world. The Wendigo are not extremely popular, despite their extremely fascinating characteristics and stories. 
            <br><br>

            <u style="color:black font"><div>Image:</div></u>
            Photo above was drawn by Hermance Bertrand. Photo below was drawn by Kim Holm.
            <br><br>
            <img src="{% static 'Records\img\monster_0999.jpg' %}">
            <br><br>

            <u style="color:black font"><div>Ressources:</div></u>
            &emsp;-Anglis, Jaclyn. This Cannibalistic Monster from Native American Lore Will Haunt Your Dreams. All That's Interesting, 17 Aug. 2022, https://allthatsinteresting.com/wendigo. 
            <br>
            &emsp;-Mythology Matters. “Mythology Matters - Wendigo Origins - Extra Mythology - #2.” YouTube, Extra Mythology, 4 Mar. 2019, https://www.youtube.com/watch?v=936xJH4PKoo. Accessed 2 Mar. 2023. 
            <br>
            &emsp;-Mythology Matters . “Native American Myth - The Wendigo - The Omushkego Tribe - Extra Mythology” YouTube, Extra Mythology, 25 Feb. 2019, https://www.youtube.com/watch?v=936xJH4PKoo. Accessed 2 Mar. 2023. 
            <br>
            &emsp;-Pitt, Steve. Windigo. The Canadian Encyclopedia, 9 Sept. 2012, https://www.thecanadianencyclopedia.ca/en/article/windigo. 
            <br><br>
        </div>
        <div class="column col-sm-1">

        </div>
    </div>

    <div style="font-size: 3vw; padding:50px 50px 100px"><a style="padding: 20px; border-color:rgb(99, 99, 99); border-style:solid; padding-top: 0px;" href="../">RETURN</a></div>
</body>