.animation {
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: repeating-radial-gradient(circle at 17% 32%, white, black 0.00085px);
  animation: animation 5s linear infinite;
}

@keyframes animation {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 240px 240px;
  }
}
  

.main{
    /* background-color: black; */
    font-family: 'Times New Roman', serif;
}

table{
  background-color: rgb(107, 107, 107);
  color: rgb(0, 0, 0);
  font-size: 4vw;
  text-align: center;
}

tr{
  border: solid;
  border-width: 5px 5px;
}

tr a{
  font-size: 2.5vw;
}

.rl{
  border-right:5px solid;
}
